.speech{
    font-family: 'Times New Roman', Times, serif;
    color:black;
    font-size: medium;
}

.stage_direction{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: black;
    background-color: brown;
}
.stage_direction:hover{
    color: beige;
}
.name{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: black;
}


.Marchmont{
    color:brown;
}
.BASILDON{
    color:rebeccapurple;
}
#actors th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:red;
    color: white;
  }

  #actors td, #actors th {
    border: 1px solid #ddd;
    padding: 8px;
  }

