.speech{
    font-family: 'Times New Roman', Times, serif;
    color:black;
    font-size: medium;
}

.stage_direction{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: black;
    background-color: brown;
}
.stage_direction:hover{
    color: beige;
}
.name{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: black;
}


.Marchmont{
    color:brown;
}
.BASILDON{
    color:rebeccapurple;
}
.Goring{
    color: blue;
}
#actors th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:red;
    color: white;
  }

  #actors td, #actors th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  table, th, td {
    border: 1px solid black;
  }
  .name:hover{
      color: lightgreen;
  }
  ul.navbar-horizontal {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    ul.navbar-horizontal li {
    float:left; 
    color:#000;
    background-color:yellow
    }
    ul.navbar-horizontal a {
    display:block;
    padding: 20px;
    color: red;
    }
    ul.navbar-horizontal a:hover {
    background-color: #555;
    color:white;
    }
    img {
        width:300;
        height:300;
      }
 
  
